# Default owners for everything in the repo.
# They will be assigned for review on all PRs.
* @trailheadapps/maintainers-multiframework-recipes
#ECCN:Open Source
#GUSINFO:Developer Relations,DevRel Content