<button
	hlmBtn
	[variant]="hlmVariant()"
	[size]="size()"
	[disabled]="disabled() || loading()"
	[type]="type()"
	[attr.aria-label]="ariaLabel()"
	[attr.aria-expanded]="ariaExpanded()"
	[attr.aria-busy]="loading() || null"
	[class]="classes()"
	(click)="clicked.emit($event)"
>
	@if (loading()) {
		<app-spinner data-icon="inline-start" class="flex items-center" aria-hidden="true" />
		@if (loadingLabel()) {
			{{ loadingLabel() }}
		}
	} @else {
		@if (icon()) {
			<ng-icon [name]="icon()" class="size-4" aria-hidden="true" />
		}
		<ng-content />
		@if (iconEnd()) {
			<ng-icon [name]="iconEnd()" class="size-4" aria-hidden="true" />
		}
	}
</button>
